# Server
HOST=0.0.0.0
PORT=1337

# App Keys (Generate unique keys for production)
APP_KEYS=toBeModified1,toBeModified2

# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

# Node Env
NODE_ENV=development

# API
API_TOKEN_SALT=changeme
ADMIN_JWT_SECRET=changeme
JWT_SECRET=changeme

# Transfer Token
TRANSFER_TOKEN_SALT=changeme

# Database (for PostgreSQL in production)
# DATABASE_CLIENT=postgres
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=strapi
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=strapi
